@import '../../styles/variables.scss';
.footer {
  background-color: #f2f2f4;
  padding: 44px 80px 30px 78px;
  min-height: 221px;
  position: relative;
  display: grid;

  &__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: start;
  }
  &__logo {
    width: 245px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  nav {
    width: 575px;
    display: flex;
    justify-content: space-around;
    a {
      color: $bold-color;
    }
  }
  &__social {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  &__privacy {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    a {
      color: rgba(45, 46, 46, 1);
      padding-left: 48px;
      padding-bottom: 20px;
    }
  }
}
